* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Make the list items horizontal */
    justify-content: space-around; /* Add space between the list items */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Projecten */
.projecten-section {
    margin: auto; /* Center the section horizontally */
    padding: 20px;
    background-color: #f2f2f2;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-top: 200px;

}
.projecten-section p {
    margin: 0;
}
.project-button {
    padding: 10px 20px;
    background-color: #cacaca;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.project-button a {
    text-decoration: none;
}

/* Footer */
.footer {
    margin-top: 207px;
    background-color: #333;
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.footer h2 {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none; 
    padding: 0; 
    columns: 2; 
}

.footer ul li {
    margin-bottom: 5px; 
    display: inline-block;
    width: 100%;
}